[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	eol = lf
[push]
	default = simple
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
[hub]
	protocol = ssh
[include]
	path = ~/.gitconfig_local
