[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	eol = lf
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
	autoSetupRemote = true
[alias]
	co = checkout
	st = status -sb
	ci = commit
	cia = commit --amend
	fa = commit --amend --no-edit --reset-author
	cl = clean -f -d .
	br = branch
	ap = add -p
	stat = !git --no-pager diff --stat
	rv = remote -v
	rsh = reset HEAD

	# Rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbih = "!f() { git rebase -i HEAD~\"$@\"; }; f"
	rbi = rebase -i

	# http://www.jukie.net/bart/blog/pimping-out-git-log
	lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'

	# https://github.com/lewagon/dotfiles/blob/9532ec08b3021abd1adadf0c8b1c5b21a0ba491b/gitconfig#L26
	sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin

	# Serve local repo. http://coderwall.com/p/eybtga
	# Then other can access via `git clone git://#{YOUR_IP_ADDRESS}/
	serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git

	bci = !hub ci-status -v HEAD | awk '{ print $3 }' | xargs open

	cb = !git branch | fzy | xargs git checkout
	dl = !git lg | peco | awk '{ if (match($0,/([0-9a-f]{6})/,m)) print m[0] }' | paste -s -d' ' | xargs git diff
[hub]
	protocol = ssh
[include]
	path = ~/.gitconfig_local
